body, svg {
    background-color: midnightblue;
    padding: 0px;
    margin: 0px;
}

@keyframes expandout {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2.2);
        opacity: 0;
    }
}
.node > .outer1 {
    animation: expandout 5s ease infinite;
}
.node > .outer2 {
    animation: expandout 5s 2.5s ease infinite;
}

.human:not(:active) > .outer {
    animation: expandout 2.5s ease;
    animation-iteration-count: 1;
}